body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #102158;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

h2 {
    color: #f1eded;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    color: #555;
}

select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}
.button{
    background-color: #34db4d;
}
table{
    margin: 0 auto;
}
.show{
    background-color: white;
}
.ATTENDANCE_DATE{
    display: flex;
}